@{
    ViewData["Title"] = "Dashboard";
}

    <div class="text-center">

        @*<a asp-area="Admin" asp-controller="Pages" asp-action="Index">GoPages</a>
        <br /><br />
        <a asp-area="Admin" asp-controller="Shop" asp-action="Index">GoCategories</a>*@
    </div>

